.main{
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}

.blocks{
  width: 100px;
  border: 1px solid black;
  height: 100px;
  box-sizing: border-box;
  float: left;
}